[data-brand="synergy"] {
  --brand-color-primary-0: #f2f5ff;
  --brand-color-primary-25: #e6eafa;
  --brand-color-primary-50: #d7def6;
  --brand-color-primary-100: #b7c2f3;
  --brand-color-primary-200: #a4b2f3;
  --brand-color-primary-300: #8fa0fe;
  --brand-color-primary-400: #7788f5;
  --brand-color-primary-500: #6574eb;
  --brand-color-primary-600: #5057e8;
  --brand-color-primary-700: #4341df;
  --brand-color-primary-800: #3635b7;
  --brand-color-primary-900: #1c1575;
  --brand-color-primary-950: #150f5f;
  --brand-color-neutral-0: #f5f5f5;
  --brand-color-neutral-25: #ebebeb;
  --brand-color-neutral-50: #dedede;
  --brand-color-neutral-100: #c5c5c5;
  --brand-color-neutral-200: #b6b6b6;
  --brand-color-neutral-300: #a8a8a8;
  --brand-color-neutral-400: #919191;
  --brand-color-neutral-500: #808080;
  --brand-color-neutral-600: #6f6f6f;
  --brand-color-neutral-700: #5b5b5b;
  --brand-color-neutral-800: #494949;
  --brand-color-neutral-900: #2b2b2b;
  --brand-color-neutral-950: #222222;
  --brand-color-green-0: #e2fff2;
  --brand-color-green-25: #bcfce0;
  --brand-color-green-50: #90f0ca;
  --brand-color-green-100: #51ddad;
  --brand-color-green-200: #1dd39f;
  --brand-color-green-300: #14bb8d;
  --brand-color-green-400: #00a57a;
  --brand-color-green-500: #039770;
  --brand-color-green-600: #058260;
  --brand-color-green-700: #006c4f;
  --brand-color-green-800: #00573f;
  --brand-color-green-900: #003525;
  --brand-color-green-950: #00291c;
  --brand-color-red-0: #fef1f3;
  --brand-color-red-25: #f9e5e8;
  --brand-color-red-50: #f4d6d9;
  --brand-color-red-100: #eeb3bb;
  --brand-color-red-200: #eb9ea9;
  --brand-color-red-300: #f08195;
  --brand-color-red-400: #e76680;
  --brand-color-red-500: #d6486a;
  --brand-color-red-600: #cb0652;
  --brand-color-red-700: #b30247;
  --brand-color-red-800: #93003a;
  --brand-color-red-900: #56001e;
  --brand-color-red-950: #450016;
  --brand-color-yellow-0: #fff6e2;
  --brand-color-yellow-25: #fce9c0;
  --brand-color-yellow-50: #ffdd98;
  --brand-color-yellow-100: #fbbc25;
  --brand-color-yellow-200: #eaaa00;
  --brand-color-yellow-300: #d9a00e;
  --brand-color-yellow-400: #c08b01;
  --brand-color-yellow-500: #a57703;
  --brand-color-yellow-600: #8f6701;
  --brand-color-yellow-700: #765400;
  --brand-color-yellow-800: #5a4001;
  --brand-color-yellow-900: #3a2800;
  --brand-color-yellow-950: #2e1f00;
  --brand-color-blue-0: #f1f6fc;
  --brand-color-blue-25: #e1ecfb;
  --brand-color-blue-50: #cde1fb;
  --brand-color-blue-100: #a0c8fd;
  --brand-color-blue-200: #85bafe;
  --brand-color-blue-300: #6babfd;
  --brand-color-blue-400: #3d94fc;
  --brand-color-blue-500: #197eed;
  --brand-color-blue-600: #0064c5;
  --brand-color-blue-700: #0159b0;
  --brand-color-blue-800: #00478f;
  --brand-color-blue-900: #002a59;
  --brand-color-blue-950: #002148;
  --brand-color-orange-0: #fef3eb;
  --brand-color-orange-25: #fae7db;
  --brand-color-orange-50: #f7dbcb;
  --brand-color-orange-100: #f5b897;
  --brand-color-orange-200: #f5a074;
  --brand-color-orange-300: #ef8a5d;
  --brand-color-orange-400: #db6b30;
  --brand-color-orange-500: #c45f2a;
  --brand-color-orange-600: #ab5124;
  --brand-color-orange-700: #8e421b;
  --brand-color-orange-800: #6e3113;
  --brand-color-orange-900: #481d08;
  --brand-color-orange-950: #391606;
  --brand-color-teal-0: #d9fefc;
  --brand-color-teal-25: #b2f9f6;
  --brand-color-teal-50: #91f0ec;
  --brand-color-teal-100: #64d6d3;
  --brand-color-teal-200: #64ccc9;
  --brand-color-teal-300: #33b8b9;
  --brand-color-teal-400: #1fa09d;
  --brand-color-teal-500: #23918f;
  --brand-color-teal-600: #237d7b;
  --brand-color-teal-700: #1d6766;
  --brand-color-teal-800: #1f5453;
  --brand-color-teal-900: #0c3231;
  --brand-color-teal-950: #0e2626;
  --brand-text-display-ff: Space Grotesk;
  --brand-text-display-fw: 700;
  --brand-text-heading-ff: Geist;
  --brand-text-heading-fw: 700;
  --brand-text-heading-fw-alt: 700;
  --brand-text-body-ff: Geist;
  --brand-text-body-fw-optical-sm: 400;
  --brand-text-body-fw-optical-md: 400;
  --brand-text-body-fw-optical-lg: 400;
  --brand-text-label-ff: Geist;
  --brand-text-label-fw: 500;
  --brand-text-label-upper-ff: Space Grotesk;
  --brand-text-label-upper-fw: 700;
  --brand-text-technical-ff: Geist Mono;
  --brand-text-action-ff: Geist;
  --brand-text-action-fw: 500;
  --brand-text-action-critical-ff: Geist;
  --brand-text-action-critical-fw: 600;
  --text-ff-main: 'Geist', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';;
  --text-ff-alternate: 'Space Grotesk', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --text-ff-auxiliary: 'Geist Mono', 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
  --shadow-base: rgba(0, 0, 0, 0.1);
  --shadow-xs: rgba(0, 0, 0, 0.05);
  --backdrop-opacity-neutral-light-low: rgba(255, 255, 255, 0.3);
  --backdrop-opacity-neutral-light-mid: rgba(255, 255, 255, 0.7);
  --backdrop-opacity-neutral-light-high: rgba(255, 255, 255, 0.8);
  --backdrop-opacity-neutral-dark-low: rgba(0, 0, 0, 0.3);
  --backdrop-opacity-neutral-dark-mid: rgba(0, 0, 0, 0.7);
  --backdrop-opacity-neutral-dark-high: rgba(0, 0, 0, 0.8);
  --backdrop-opacity-tinted-mid: rgba(80, 87, 232, 0.7);
  --backdrop-opacity-tinted-high: rgba(80, 87, 232, 0.8);
  --overlay-fade-start: rgba(0, 0, 0, 0);
  --overlay-fade-end: rgba(0, 0, 0, 0.8);
}