:root {
  --white-0: rgba(255, 255, 255, 0);
  --white-50: rgba(255, 255, 255, 0.05);
  --white-100: rgba(255, 255, 255, 0.1);
  --white-200: rgba(255, 255, 255, 0.2);
  --white-300: rgba(255, 255, 255, 0.3);
  --white-400: rgba(255, 255, 255, 0.4);
  --white-500: rgba(255, 255, 255, 0.5);
  --white-600: rgba(255, 255, 255, 0.6);
  --white-700: rgba(255, 255, 255, 0.7);
  --white-800: rgba(255, 255, 255, 0.8);
  --white-900: rgba(255, 255, 255, 0.9);
  --white-950: rgba(255, 255, 255, 0.95);
  --white-root: oklch(1 0 0);
  --black-0: rgba(0, 0, 0, 0);
  --black-50: rgba(0, 0, 0, 0.05);
  --black-100: rgba(0, 0, 0, 0.1);
  --black-200: rgba(0, 0, 0, 0.2);
  --black-300: rgba(0, 0, 0, 0.3);
  --black-400: rgba(0, 0, 0, 0.4);
  --black-500: rgba(0, 0, 0, 0.5);
  --black-600: rgba(0, 0, 0, 0.6);
  --black-700: rgba(0, 0, 0, 0.7);
  --black-800: rgba(0, 0, 0, 0.8);
  --black-900: rgba(0, 0, 0, 0.9);
  --black-950: rgba(0, 0, 0, 0.95);
  --black-root: oklch(0 0 0);
  --stroke-100: 1;
  --stroke-200: 2;
  --stroke-400: 4;
}