:root {
  /* Primitive fluid spacing scale */
  --fl-space-\.25: clamp(0.084rem, 0.094rem + -0.053vw, 0.054rem);
  --fl-space-\.5: clamp(0.152rem, 0.168rem + -0.086vw, 0.102rem);
  --fl-space-1: clamp(0.274rem, 0.294rem + -0.107vw, 0.212rem);
  --fl-space-1\.5: clamp(0.367rem, 0.384rem + -0.085vw, 0.319rem);
  --fl-space-1\.75: clamp(0.493rem, 0.523rem + -0.159vw, 0.402rem);
  --fl-space-2: clamp(0.624rem, 0.671rem + -0.247vw, 0.482rem);
  --fl-space-2\.5: clamp(0.702rem, 0.743rem + -0.215vw, 0.579rem);
  --fl-space-3: clamp(0.79rem, 0.822rem + -0.167vw, 0.694rem);
  --fl-space-3\.5: clamp(0.889rem, 0.907rem + -0.097vw, 0.833rem);
  --fl-space-4: clamp(1rem, 1rem + 0vw, 1rem);
  --fl-space-4\.5: clamp(1.125rem, 1.1rem + 0.131vw, 1.2rem);
  --fl-space-5: clamp(1.266rem, 1.208rem + 0.304vw, 1.44rem);
  --fl-space-6: clamp(1.424rem, 1.323rem + 0.53vw, 1.728rem);
  --fl-space-7: clamp(1.602rem, 1.446rem + 0.822vw, 2.074rem);
  --fl-space-8: clamp(1.802rem, 1.575rem + 1.196vw, 2.488rem);
  --fl-space-9: clamp(2.027rem, 1.71rem + 1.67vw, 2.986rem);
  --fl-space-10: clamp(2.281rem, 1.85rem + 2.269vw, 3.583rem);
  --fl-space-11: clamp(2.566rem, 1.992rem + 3.021vw, 4.3rem);
  --fl-space-12: clamp(2.886rem, 2.134rem + 3.96vw, 5.16rem);
  --fl-space-13: clamp(3.247rem, 2.273rem + 5.13vw, 6.192rem);

  /* Primitive font size scale */
  --text-xs: clamp(0.8681rem, 1.0272rem + -0.1667vw, 0.9877rem);
  --text-sm: clamp(1.0417rem, 1.1341rem + -0.0968vw, 1.1111rem);
  --text-base: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  --text-lg: clamp(1.4063rem, 1.3752rem + 0.1307vw, 1.5rem);
  --text-xl: clamp(1.582rem, 1.5099rem + 0.3038vw, 1.8rem);
  --text-2xl: clamp(1.7798rem, 1.6539rem + 0.5299vw, 2.16rem);
  --text-3xl: clamp(2.0023rem, 1.807rem + 0.8219vw, 2.592rem);
  --text-4xl: clamp(2.2525rem, 1.9686rem + 1.1956vw, 3.1104rem);
  --text-5xl: clamp(2.5341rem, 2.1374rem + 1.6702vw, 3.7325rem);
  --text-6xl: clamp(2.8509rem, 2.312rem + 2.2691vw, 4.479rem);
}