:root {
  --variant: Desktop;
  --brand-color-primary-0: #f2f5ff;
  --brand-color-primary-25: #e6eafa;
  --brand-color-primary-50: #d7def6;
  --brand-color-primary-100: #b7c2f3;
  --brand-color-primary-200: #a4b2f3;
  --brand-color-primary-300: #8fa0fe;
  --brand-color-primary-400: #7788f5;
  --brand-color-primary-500: #6574eb;
  --brand-color-primary-600: #5057e8;
  --brand-color-primary-700: #4341df;
  --brand-color-primary-800: #3635b7;
  --brand-color-primary-900: #1c1575;
  --brand-color-primary-950: #150f5f;
  --brand-color-neutral-0: #f5f5f5;
  --brand-color-neutral-25: #ebebeb;
  --brand-color-neutral-50: #dedede;
  --brand-color-neutral-100: #c5c5c5;
  --brand-color-neutral-200: #b6b6b6; /** Steel Grey */
  --brand-color-neutral-300: #a8a8a8;
  --brand-color-neutral-400: #919191;
  --brand-color-neutral-500: #808080;
  --brand-color-neutral-600: #6f6f6f; /** Granite Grey */
  --brand-color-neutral-700: #5b5b5b;
  --brand-color-neutral-800: #494949;
  --brand-color-neutral-900: #2b2b2b;
  --brand-color-neutral-950: #222222; /** AKA: Charcoal Black */
  --brand-color-green-0: #e2fff2;
  --brand-color-green-25: #bcfce0;
  --brand-color-green-50: #90f0ca;
  --brand-color-green-100: #51ddad;
  --brand-color-green-200: #1dd39f; /** Steel Grey */
  --brand-color-green-300: #14bb8d;
  --brand-color-green-400: #00a57a;
  --brand-color-green-500: #039770;
  --brand-color-green-600: #058260; /** Granite Grey */
  --brand-color-green-700: #006c4f;
  --brand-color-green-800: #00573f;
  --brand-color-green-900: #003525;
  --brand-color-green-950: #00291c; /** AKA: Charcoal Black */
  --brand-color-red-0: #fef1f3;
  --brand-color-red-25: #f9e5e8;
  --brand-color-red-50: #f4d6d9;
  --brand-color-red-100: #eeb3bb;
  --brand-color-red-200: #eb9ea9;
  --brand-color-red-300: #f08195;
  --brand-color-red-400: #e76680;
  --brand-color-red-500: #d6486a;
  --brand-color-red-600: #cb0652;
  --brand-color-red-700: #b30247;
  --brand-color-red-800: #93003a;
  --brand-color-red-900: #56001e;
  --brand-color-red-950: #450016;
  --brand-color-yellow-0: #fff6e2;
  --brand-color-yellow-25: #fce9c0;
  --brand-color-yellow-50: #ffdd98;
  --brand-color-yellow-100: #fbbc25;
  --brand-color-yellow-200: #eaaa00;
  --brand-color-yellow-300: #d9a00e;
  --brand-color-yellow-400: #c08b01;
  --brand-color-yellow-500: #a57703;
  --brand-color-yellow-600: #8f6701;
  --brand-color-yellow-700: #765400;
  --brand-color-yellow-800: #5a4001;
  --brand-color-yellow-900: #3a2800;
  --brand-color-yellow-950: #2e1f00;
  --brand-color-blue-0: #f1f6fc;
  --brand-color-blue-25: #e1ecfb;
  --brand-color-blue-50: #cde1fb;
  --brand-color-blue-100: #a0c8fd;
  --brand-color-blue-200: #85bafe;
  --brand-color-blue-300: #6babfd;
  --brand-color-blue-400: #3d94fc;
  --brand-color-blue-500: #197eed;
  --brand-color-blue-600: #0064c5;
  --brand-color-blue-700: #0159b0;
  --brand-color-blue-800: #00478f;
  --brand-color-blue-900: #002a59;
  --brand-color-blue-950: #002148;
  --brand-color-orange-0: #fef3eb;
  --brand-color-orange-25: #fae7db;
  --brand-color-orange-50: #f7dbcb;
  --brand-color-orange-100: #f5b897;
  --brand-color-orange-200: #f5a074;
  --brand-color-orange-300: #ef8a5d;
  --brand-color-orange-400: #db6b30;
  --brand-color-orange-500: #c45f2a;
  --brand-color-orange-600: #ab5124;
  --brand-color-orange-700: #8e421b;
  --brand-color-orange-800: #6e3113;
  --brand-color-orange-900: #481d08;
  --brand-color-orange-950: #391606;
  --brand-color-teal-0: #d9fefc;
  --brand-color-teal-25: #b2f9f6;
  --brand-color-teal-50: #91f0ec;
  --brand-color-teal-100: #64d6d3;
  --brand-color-teal-200: #64ccc9;
  --brand-color-teal-300: #33b8b9;
  --brand-color-teal-400: #1fa09d;
  --brand-color-teal-500: #23918f;
  --brand-color-teal-600: #237d7b;
  --brand-color-teal-700: #1d6766;
  --brand-color-teal-800: #1f5453;
  --brand-color-teal-900: #0c3231;
  --brand-color-teal-950: #0e2626;
  --brand-text-display-ff: Space Grotesk;
  --brand-text-display-fw: 700;
  --brand-text-heading-ff: Geist;
  --brand-text-heading-fw: 700;
  --brand-text-heading-fw-alt: 700;
  --brand-text-body-ff: Geist;
  --brand-text-body-fw-optical-sm: 400;
  --brand-text-body-fw-optical-md: 400;
  --brand-text-body-fw-optical-lg: 400;
  --brand-text-label-ff: Geist;
  --brand-text-label-fw: 500;
  --brand-text-label-upper-ff: Space Grotesk;
  --brand-text-label-upper-fw: 700;
  --brand-text-technical-ff: Geist Mono;
  --brand-text-action-ff: Geist;
  --brand-text-action-fw: 500;
  --brand-text-action-critical-ff: Geist;
  --brand-text-action-critical-fw: 600;
  --text-ff-main: 'Geist', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';;
  --text-ff-alternate: 'Space Grotesk', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --text-ff-auxiliary: 'Geist Mono', 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
  --color-purple-0: #f5f3fe;
  --color-purple-25: #ece9f9;
  --color-purple-50: #dfdbf4;
  --color-purple-100: #c7bdef;
  --color-purple-200: #baabed;
  --color-purple-300: #ae96f6;
  --color-purple-400: #9c7eed;
  --color-purple-500: #8c61eb;
  --color-purple-600: #7953cd;
  --color-purple-700: #6846b2;
  --color-purple-800: #553893;
  --color-purple-900: #301e56;
  --color-purple-950: #251646;
  --color-pink-0: #fdf1f6;
  --color-pink-25: #f8e5ec;
  --color-pink-50: #f2d6e0;
  --color-pink-100: #eab3c9;
  --color-pink-200: #e69ebc;
  --color-pink-300: #e982af;
  --color-pink-400: #e169a0;
  --color-pink-500: #cf488b;
  --color-pink-600: #b5357b;
  --color-pink-700: #9e2d6f;
  --color-pink-800: #81235e;
  --color-pink-900: #4a1137;
  --color-pink-950: #3b0c2d;
  --color-tangerine-0: #fcf3ec;
  --color-tangerine-25: #fbe7d7;
  --color-tangerine-50: #fbd7ba;
  --color-tangerine-100: #ffb575;
  --color-tangerine-200: #fb9f45;
  --color-tangerine-300: #f28b00;
  --color-tangerine-400: #cd770d;
  --color-tangerine-500: #ba6900;
  --color-tangerine-600: #a15b00;
  --color-tangerine-700: #854a02;
  --color-tangerine-800: #6c3b01;
  --color-tangerine-900: #422201;
  --color-tangerine-950: #351a00;
  --color-tech-blue-0: #f1f6fc;
  --color-tech-blue-25: #e1ecfb;
  --color-tech-blue-50: #cde1fb;
  --color-tech-blue-100: #a0c8fd;
  --color-tech-blue-200: #85bafe;
  --color-tech-blue-300: #6babfd;
  --color-tech-blue-400: #3d94fc;
  --color-tech-blue-500: #197eed;
  --color-tech-blue-600: #0064c5;
  --color-tech-blue-700: #0159b0;
  --color-tech-blue-800: #00478f;
  --color-tech-blue-900: #002a59;
  --color-tech-blue-950: #002148;
  --color-blue-bell-0: #eff6fc;
  --color-blue-bell-25: #dceefb;
  --color-blue-bell-50: #c3e4fb;
  --color-blue-bell-100: #87cefc;
  --color-blue-bell-200: #5cc2fe;
  --color-blue-bell-300: #3aaeee;
  --color-blue-bell-400: #0098d9;
  --color-blue-bell-500: #0089c7;
  --color-blue-bell-600: #0171a7;
  --color-blue-bell-700: #026193;
  --color-blue-bell-800: #004d7a;
  --color-blue-bell-900: #012e4c;
  --color-blue-bell-950: #012139;
  --color-bright-sky-0: #edf7fb;
  --color-bright-sky-25: #d7f0fb;
  --color-bright-sky-50: #bbe6fa;
  --color-bright-sky-100: #6ccff8;
  --color-bright-sky-200: #3ac1f2;
  --color-bright-sky-300: #00afe2;
  --color-bright-sky-400: #039bcf;
  --color-bright-sky-500: #048bc0;
  --color-bright-sky-600: #0173a7;
  --color-bright-sky-700: #016095;
  --color-bright-sky-800: #024c7e;
  --color-bright-sky-900: #002c53;
  --color-bright-sky-950: #0c1e32;
  --white-0: rgba(255, 255, 255, 0);
  --white-50: rgba(255, 255, 255, 0.05);
  --white-100: rgba(255, 255, 255, 0.1);
  --white-200: rgba(255, 255, 255, 0.2);
  --white-300: rgba(255, 255, 255, 0.3);
  --white-400: rgba(255, 255, 255, 0.4);
  --white-500: rgba(255, 255, 255, 0.5);
  --white-600: rgba(255, 255, 255, 0.6);
  --white-700: rgba(255, 255, 255, 0.7);
  --white-800: rgba(255, 255, 255, 0.8);
  --white-900: rgba(255, 255, 255, 0.9);
  --white-950: rgba(255, 255, 255, 0.95);
  --white-root: #ffffff;
  --black-0: rgba(0, 0, 0, 0);
  --black-50: rgba(0, 0, 0, 0.05);
  --black-100: rgba(0, 0, 0, 0.1);
  --black-200: rgba(0, 0, 0, 0.2);
  --black-300: rgba(0, 0, 0, 0.3);
  --black-400: rgba(0, 0, 0, 0.4);
  --black-500: rgba(0, 0, 0, 0.5);
  --black-600: rgba(0, 0, 0, 0.6);
  --black-700: rgba(0, 0, 0, 0.7);
  --black-800: rgba(0, 0, 0, 0.8);
  --black-900: rgba(0, 0, 0, 0.9);
  --black-950: rgba(0, 0, 0, 0.95);
  --black-root: #000000;
  --stroke-100: 1;
  --stroke-200: 2;
  --stroke-400: 4;
  --shadow-base: rgba(0, 0, 0, 0.1);
  --shadow-xs: rgba(0, 0, 0, 0.05);
  --backdrop-opacity-neutral-light-low: rgba(255, 255, 255, 0.3);
  --backdrop-opacity-neutral-light-mid: rgba(255, 255, 255, 0.7);
  --backdrop-opacity-neutral-light-high: rgba(255, 255, 255, 0.8);
  --backdrop-opacity-neutral-dark-low: rgba(0, 0, 0, 0.3);
  --backdrop-opacity-neutral-dark-mid: rgba(0, 0, 0, 0.7);
  --backdrop-opacity-neutral-dark-high: rgba(0, 0, 0, 0.8);
  --backdrop-opacity-tinted-mid: rgba(80, 87, 232, 0.7);
  --backdrop-opacity-tinted-high: rgba(80, 87, 232, 0.8);
  --overlay-fade-start: rgba(0, 0, 0, 0);
  --overlay-fade-end: rgba(0, 0, 0, 0.8);
}