@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --spacing: .2rem;

  /* Primitive fluid spacing scale */
  --fl-space-.25: clamp(0.084rem, 0.094rem + -0.053vw, 0.054rem);
  --fl-space-.5: clamp(0.152rem, 0.168rem + -0.086vw, 0.102rem);
  --fl-space-1: clamp(0.274rem, 0.294rem + -0.107vw, 0.212rem);
  --fl-space-1.5: clamp(0.367rem, 0.384rem + -0.085vw, 0.319rem);
  --fl-space-1.75: clamp(0.493rem, 0.523rem + -0.159vw, 0.402rem);
  --fl-space-2: clamp(0.624rem, 0.671rem + -0.247vw, 0.482rem);
  --fl-space-2.5: clamp(0.702rem, 0.743rem + -0.215vw, 0.579rem);
  --fl-space-3: clamp(0.79rem, 0.822rem + -0.167vw, 0.694rem);
  --fl-space-3.5: clamp(0.889rem, 0.907rem + -0.097vw, 0.833rem);
  --fl-space-4: clamp(1rem, 1rem + 0vw, 1rem);
  --fl-space-4.5: clamp(1.125rem, 1.1rem + 0.131vw, 1.2rem);
  --fl-space-5: clamp(1.266rem, 1.208rem + 0.304vw, 1.44rem);
  --fl-space-6: clamp(1.424rem, 1.323rem + 0.53vw, 1.728rem);
  --fl-space-7: clamp(1.602rem, 1.446rem + 0.822vw, 2.074rem);
  --fl-space-8: clamp(1.802rem, 1.575rem + 1.196vw, 2.488rem);
  --fl-space-9: clamp(2.027rem, 1.71rem + 1.67vw, 2.986rem);
  --fl-space-10: clamp(2.281rem, 1.85rem + 2.269vw, 3.583rem);
  --fl-space-11: clamp(2.566rem, 1.992rem + 3.021vw, 4.3rem);
  --fl-space-12: clamp(2.886rem, 2.134rem + 3.96vw, 5.16rem);
  --fl-space-13: clamp(3.247rem, 2.273rem + 5.13vw, 6.192rem);

	--font-sans: 'Geist', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-alt: 'Space Grotesk', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Geist Mono', 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';

  /* Viewport ranges */
  --fluid-min-width: 380;
  --fluid-max-width: 1528;

  /* Primitive font size scale */
  --text-*: initial;
  --text-xs: clamp(0.8681rem, 1.0272rem + -0.1667vw, 0.9877rem);
  --text-sm: clamp(1.0417rem, 1.1341rem + -0.0968vw, 1.1111rem);
  --text-base: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  --text-lg: clamp(1.4063rem, 1.3752rem + 0.1307vw, 1.5rem);
  --text-xl: clamp(1.582rem, 1.5099rem + 0.3038vw, 1.8rem);
  --text-2xl: clamp(1.7798rem, 1.6539rem + 0.5299vw, 2.16rem);
  --text-3xl: clamp(2.0023rem, 1.807rem + 0.8219vw, 2.592rem);
  --text-4xl: clamp(2.2525rem, 1.9686rem + 1.1956vw, 3.1104rem);
  --text-5xl: clamp(2.5341rem, 2.1374rem + 1.6702vw, 3.7325rem);
  --text-6xl: clamp(2.8509rem, 2.312rem + 2.2691vw, 4.479rem);

  --leading-*: initial;
  --leading-none: 1;
  --leading-tight: 1.2;
  --leading-normal: 1.6;

  --tracking-*: initial;
  --tracking-widest: .1em;
  --tracking-wider: .06em;
  --tracking-normal: 0em;
  --tracking-tight: -.02em;

	--breakpoint-xs: 380px;
	--breakpoint-sm: 668px;
	--breakpoint-md: 800px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1288px;
	--breakpoint-2xl: 1528px;

  --shadow-*: initial;
  --shadow-xs: 0 0 2px 0 var(--shadow-color);
  --shadow-sm: 0 0 2px 0 var(--shadow-base-color), 0 2px 4px 0 var(--shadow-base-color);
  --shadow-md: 0 0 2px 0 var(--shadow-base-color), 0 4px 6px 0 var(--shadow-base-color);
  --shadow-lg: 0 0 2px 0 var(--shadow-base-color), 0 10px 15px 0 var(--shadow-base-color);
  --shadow-xl: 0 0 2px 0 var(--shadow-base-color), 0 20px 25px 0 var(--shadow-base-color);
}

/* Text Styles */
@utility display-350 {
  font-family: var(--font-alt);
  font-size: var(--text-6xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-6xl font-alt leading-tight tracking-tight font-bold; */
}
@utility display-300 {
  font-family: var(--font-alt);
  font-size: var(--text-5xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-5xl font-alt leading-tight tracking-tight font-bold; */
}
@utility display-250 {
  font-family: var(--font-alt);
  font-size: var(--text-4xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-4xl font-alt leading-tight tracking-tight font-bold; */
}
@utility display-120 {
  font-family: var(--font-alt);
  font-size: var(--text-lg);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-lg font-alt leading-tight tracking-tight font-bold; */
}
@utility heading-250 {
  font-size: var(--text-4xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-4xl font-sans leading-tight tracking-tight font-bold; */
}
@utility heading-200 {
  font-size: var(--text-3xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-3xl font-sans leading-tight tracking-tight font-bold; */
}
@utility heading-160 {
  font-size: var(--text-2xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-2xl font-sans leading-tight tracking-tight font-bold; */
}
@utility heading-140 {
  font-size: var(--text-xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-xl font-sans leading-tight tracking-tight font-bold; */
}
@utility heading-120 {
  font-size: var(--text-lg);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-lg font-sans leading-tight tracking-tight font-bold; */
}
@utility heading-100 {
  font-size: var(--text-base);
  line-height: var(--leading-tight);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  /* @apply text-base font-sans leading-tight tracking-tight font-bold; */
}
@utility label-100 {
  line-height: var(--leading-tight);
  font-weight: var(--font-medium);
}
@utility label-80 {
  font-size: var(--text-sm);
  line-height: var(--leading-tight);
  font-weight: var(--font-medium);
}
@utility label-70 {
  font-size: var(--text-xs);
  line-height: var(--leading-tight);
  font-weight: var(--font-medium);
}
@utility body-tech-100 {
  font-family: var(--font-mono)
}
@utility body-tech-80 {
  font-family: var(--font-mono)
  font-size: var(--text-sm);
}
@utility body-tech-80 {
  font-family: var(--font-mono)
  font-size: var(--text-xs);
}

/* Fluid Spacing API */
@utility fl-p-* {
  padding: --value(--fl-space-*);
}

@utility fl-px-* {
  padding-inline: --value(--fl-space-*);
}

@utility fl-py-* {
  padding-block: --value(--fl-space-*);
}

@utility fl-ps-* {
  padding-inline-start: --value(--fl-space-*);
}

@utility fl-pe-* {
  padding-inline-end: --value(--fl-space-*);
}

@utility fl-pbs-* {
  padding-block-start: --value(--fl-space-*);
}

@utility fl-pbe-* {
  padding-block-end: --value(--fl-space-*);
}
@utility fl-pt-* {
  padding-top: --value(--fl-space-*);
}
@utility fl-pr-* {
  padding-right: --value(--fl-space-*);
}
@utility fl-pb-* {
  padding-bottom: --value(--fl-space-*);
}
@utility fl-pl-* {
  padding-left: --value(--fl-space-*);
}
@utility fl-m-* {
  margin: --value(--fl-space-*);
}
@utility fl-mx-* {
  margin-inline: --value(--fl-space-*);
}
@utility fl-my-* {
  margin-block: --value(--fl-space-*);
}

@utility fl-ms-* {
  margin-inline-start: --value(--fl-space-*);
}

@utility fl-me-* {
  margin-inline-end: --value(--fl-space-*);
}

@utility fl-mbs-* {
  margin-block-start: --value(--fl-space-*);
}

@utility fl-mbe-* {
  margin-block-end: --value(--fl-space-*);
}
@utility fl-mt-* {
  margin-top: --value(--fl-space-*);
}
@utility fl-mr-* {
  margin-right: --value(--fl-space-*);
}
@utility fl-mb-* {
  margin-bottom: --value(--fl-space-*);
}
@utility fl-ml-* {
  margin-left: --value(--fl-space-*);
}
@utility fl-space-x-* { 
  & > :not(:last-child) {
    --tw-space-x-reverse: 0;
    margin-inline-start: calc(--value(--fl-space-*) * var(--tw-space-x-reverse));
    margin-inline-end: calc(--value(--fl-space-*) * calc(1 - var(--tw-space-x-reverse)));
  };
}
@utility fl-space-y-* {
  & > :not(:last-child) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(--value(--fl-space-*) * var(--tw-space-y-reverse));
    margin-block-end: calc(--value(--fl-space-*) * calc(1 - var(--tw-space-y-reverse)));
  };
}

@utility fl-gap-* {
  gap: --value(--fl-space-*);
}
@utility fl-gap-x-* {
  column-gap: --value(--fl-space-*);
}
@utility fl-gap-y-* {
  row-gap: --value(--fl-space-*);
}

@utility fl-w-* {
  width: --value(--fl-space-*);
}
@utility fl-size-* {
  width: --value(--fl-space-*);
  height: --value(--fl-space-*);
}
@utility fl-min-w-* {
  min-width: --value(--fl-space-*);
}
@utility fl-max-w-* {
  max-width: --value(--fl-space-*);
}
@utility fl-h-* {
  height: --value(--fl-space-*);
}
@utility fl-min-h-* {
  min-height: --value(--fl-space-*);
}
@utility fl-max-h-* {
  max-height: --value(--fl-space-*);
}
@utility fl-inline-* {
  inline-size: --value(--fl-space-*);
}
@utility fl-min-inline-* {
  min-inline-size: --value(--fl-space-*);
}
@utility fl-max-inline-* {
  max-inline-size: --value(--fl-space-*);
}
@utility fl-block-* {
  block-size: --value(--fl-space-*);
}
@utility fl-min-block-* {
  min-block-size: --value(--fl-space-*);
}
@utility fl-max-block-* {
  max-block-size: --value(--fl-space-*);
}

@utility fl-inset-* {
  inset: --value(--fl-space-*);
}
@utility fl-inset-x-* {
  inset-inline: --value(--fl-space-*);
}
@utility fl-inset-y-* {
  inset-block: --value(--fl-space-*);
}